<main class="bg-zinc-50 w-full">
<h1 class="text-4xl font-bold text-center py-10">Messages</h1>

<% @messages.order(:created_at).reverse_each do | message | %>
  <div class="border-2 my-3 mx-3 p-3 bg-white rounded-xl">
    <div class="flex flex-row">
      <div class="flex flex-row">
        <div class="flex flex-col text-sm">
          <div class="flex flex-row">
            <div class="font-bold">ID</div>: <%= message.id %>
          </div>
          <div class="flex flex-row">
            <div class="font-bold">Name</div>: <%= message.name %>
          </div>
          <div class="flex flex-row">
            <div class="font-bold">Date</div>: <%= message.created_at.strftime("%b %e, %Y")%>
          </div>
          <div class="flex flex-row">
            <div class="font-bold">Email</div>: <%= message.email %>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-2">
    <%= message.content %>
  </div>
<% end %>
</main>