<div x-data="{ open: false }" class="pb-10 text-center items-center text-white flex flex-col ">
  <!--Hamburger button-->
  <button @click="open = ! open"  class="text-5xl hover:text-red-400">
    ☰
  </button>

  <!--Container for mobile menu-->
  <div x-show="open" x-transition.duration.500ms class="flex flex-col items-center pt-3">
    <!--links-->
    <ul class="">
      <li><%= link_to "Home", root_path, class: "leading-10 hover:text-red-400" %></li>
      <li><%= link_to "Client Websites", root_path, class: "leading-10 hover:text-red-400" %></li>
      <li><%= link_to "Example Sites", root_path, class: "leading-10 hover:text-red-400" %></li>
      <li><%= link_to "Projects", root_path, class: "leading-10 hover:text-red-400" %></li>
      <li><%= link_to "Articles", root_path, class: "leading-10 hover:text-red-400" %></li>
      <li><%= link_to "Contact", root_path, class: "leading-10 hover:text-red-400" %></li>
    </ul>
    <!--Close button-->
    <button @click="open = ! open" class="leading-10 hover:bg-red-700 border-2 w-min mt-5 px-5 rounded-full py-1">
      X
    </button>
  </div>
</div>