<nav class="flex flex-col items-center bg-red-800 lg:flex-auto lg:w-5/12 lg:justify-between">
  <% if current_page?(root_url)  %>
  <!--ONLY FOR HOME PAGE-->
    <!--top part-->
    <div class="flex flex-col items-center">
      <!--Container for Profile pic-->
      <div class="pt-16 px-10 pb-10">
        <%= image_tag 'profilepic4.jpg' , class: "w-72 rounded-full border-8" %>
      </div>

      <!--Container for logo-->
      <%= render "shared/logo" %>

      <!--Container for words and stuff-->
      <div class="flex flex-col items-center px-6">
        <!--Small blurb about us-->
        <p class="text-gray-300 py-10 text-center text-sm"> 
        A web development venture assisting small to medium sized businesses grow through website and software solutions.
        </p>
        <!--Links-->
        <%= render "shared/top_links"%>
      </div>
    </div>
  <% else %>
  <!--FOR ALL OTHER PAGES-->
    <!--top part-->
    <div class="flex flex-col items-center">
      <!--Container for Profile pic-->
      <div class="hidden lg:block pt-16 px-10 pb-10">
        <%= image_tag 'profilepic4.jpg' , class: "w-72 rounded-full border-8" %>
      </div>

      <!--Container for logo-->
      <div class="hidden lg:flex flex-col items-center">
        <%= render "shared/logo" %>
      </div>

      <!--Container for words and stuff-->
      <div class="hidden lg:flex flex-col items-center px-6">
        <!--Small blurb about us-->
        <p class="hidden lg:block text-gray-300 py-10 text-center text-sm"> 
        A web development venture assisting small to medium sized businesses grow through website and software solutions.
        </p>
        <!--Links-->
        <div class="hidden lg:block">
          <%= render "shared/top_links"%>
        </div>
      </div>

      <!--Mobile menu-->
      <div class="lg:hidden">
        <%= render "shared/mobile_menu"%>
      </div>
    </div>  
    <% end %>
    
    <!--bottom part-->
    <div class="pb-10 flex-col items-center hidden lg:flex">
      <%= render "shared/nav_bottom"%>
    </div>
  
</nav>