<main class="bg-zinc-50 w-full">
  <!--header-->
  <div class=" py-10">
    <h1 class="text-4xl font-bold text-center">Web Development and Design for Small Businesses</h1>
  </div>

  <div class="grid place-items-center ">
    <p class="lg:w-3/5 text-center  w-4/5 pb-5">
      No page builders or WordPress themes. <br> Our websites are 100% coded line by line creating exceptional results.
    </p>
    <%= link_to contact_path, class: "" do %>
      <div class="bg-red-800 hover:bg-red-700 w-full text-white rounded-lg text-center px-3 py-3">
        Get Started Today!
      </div>
    <% end %>
  </div>

  <div class=" py-10">
    <h2 class="text-3xl font-bold text-center">What We Do</h2>
  </div>

  <div class="grid place-items-center">
    <p class="lg:w-3/5 w-4/5 text-center pb-20">
      We specialize in web design and development for small to medium businesses.  Every website we make is coded from scratch to ensure optimum performance which will help bring more customers to your site and increase revenue.
    </p>
  </div>

  <!--Three columns-->
  <div class="lg:flex lg:flex-row mx-5 text-center">
    <div class="lg:w-1/3 px-3 flex flex-col items-center pb-20">
      <%= image_tag "smartphone.png", class: "h-16" %>
      <h3 class="font-bold text-xl py-5">Mobile First Design</h3>
      <p class="">
        Your site is designed mobile first and then further customized to work on tablets and desktops.
      </p>
    </div>
    <div class="lg:w-1/3 px-3 flex flex-col items-center pb-20">
      <%= image_tag "responsive.png", class: "h-16" %>
      <h3 class="font-bold text-xl py-5">Responsive Designs</h3>
      <p class="">
        Your website will fit all screens.  Phones, tablets, and PCs.  Your customers can view your site from any device.
      </p>
    </div>
    <div class="lg:w-1/3 px-3 flex flex-col items-center pb-20">
      <%= image_tag "google.png", class: "h-16" %>
      <h3 class="font-bold text-xl py-5">Optimized for Search</h3>
      <p class="">
        62.4% of all internet traffic comes from mobile devices.  We optimize your site to perform and to be on the top of Google search results. 
      </p>
    </div>
  </div>

  <div class="mb-20 mx-5">
    <h2 class="text-3xl font-bold text-center">Set up a free strategy session</h2>
  </div>

  <!--2 columns-->
  <div class="flex flex-col lg:flex-row lg:items-center">
    <div class="lg:w-1/2 px-10">
      <p>
        We'll go over how your business is currently performing online and how we can help you grow your business and leverage the internet to get in front of more customers.  
      </p>

      <p class="py-5">
      We'll base the design off the needs of your business.  Maps, mailing lists, contact forms, admin interface all included.
      </p>

      <p class="lg:pb-5">
        Over 40 hours of design, development, and testing included. We pride ourselves in using well engineered color themes, spacing, and typography. Simple and pleasant user experiences.
      </p>
    </div>
    <div class="lg:w-1/2 p-5">
      <ul class="lg:pb-10 pr-5">
        <li class="pb-5">
          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <span class="font-bold">
              Hosting and Domain Included
            </span> 
          </div>
            <p class="pl-7">We'll take care of procuring a cloud host provider and securing a domain name.  Use your domain name for a custom email address like yourname@yourcompany.com</p>
        </li>
        <li class="pb-5">
          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <span class="font-bold">
              Unlimited Revisions
            </span> 
          </div>
            <p class="pl-7">Tim Jedrek is your on call web design partner.  Call us anytime and we will get your redesigns done the same day.</p>
        </li>
        <li class="">
          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <span class="font-bold">
              24/7 365 Customer Service
            </span> 
          </div>
            <p class="pl-7">Call us anytime day or night, no phone robots or automated responses.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid place-items-center">
    <%= link_to contact_path, class: "" do %>
      <div class="bg-red-800 hover:bg-red-700 w-60 text-white rounded-lg text-center py-3">
        Book Now!
      </div>
    <% end %>
  </div>

  <!--Portfolio-->
  <div class="mt-12 mb-20 mx-5">
    <h2 class="text-3xl font-bold text-center">Our Portfolio</h2>
  </div>

  <!--Three columns for porfolio-->
  <div class="lg:flex lg:flex-row mx-5 text-center">
    <div class="lg:w-1/3 px-3 pb-5 mx-3 mb-5 lg:mb-20 flex flex-col items-center justify-between rounded-xl border-2 drop-shadow-sm">
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-xl py-5">99 Lawn Care</h3>
        <%= image_tag "99lawncare.jpg", class: "h-64" %>
        <p class="py-5">
          99 Lawn Care is a professional lawn care business servicing the St. Louis, Missouri area.
        </p>
      </div>
      <%= link_to "https://99lawncare.com", target: :blank, class:"w-full grid place-items-center" do %>
        <div class="py-3 bg-red-800 hover:bg-red-700 text-white rounded-lg text-center text-xs w-4/5">Visit 99 Lawn Care</div>
      <% end %>
    </div>
    <div class="lg:w-1/3 px-3 pb-5 mx-3 mb-5 lg:mb-20 flex flex-col items-center justify-between rounded-xl border-2 drop-shadow-sm">
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-xl py-5">Voice of a Hustler</h3>
        <%= image_tag "voh.jpg", class: "h-64" %>
        <p class="py-5">
          Voice of a Hustler is the brand for Jayrone - a battle rap musician from the south side of St. Louis. 
        </p>
      </div>
      <%= link_to "https://voiceofahustler.com", target: :blank, class:"w-full grid place-items-center" do %>
        <div class="py-3 bg-red-800 hover:bg-red-700 text-white rounded-lg text-center text-xs w-4/5">Visit Voice of a Hustler</div>
      <% end %>
    </div>
    <div class="lg:w-1/3 px-3 pb-5 mx-3 mb-20 flex flex-col items-center justify-between rounded-xl border-2 drop-shadow-sm">
      <div class="flex flex-col items-center">
        <h3 class="font-bold text-xl py-5">Belleville Pancake House</h3>
        <%= image_tag "bph.jpg", class: "h-64" %>
        <p class="py-5">
          Belleville Pancake House is a restaurant in Belleville, Illinois serving breakfast, lunch, and dinner. 
        </p>
      </div>
      <%= link_to "https://bellevillepancakehouse.com", target: :blank, class:"w-full grid place-items-center" do %>
        <div class="py-3 bg-red-800 hover:bg-red-700 text-white rounded-lg text-center text-xs w-4/5">Visit Belleville Pancake House</div>
      <% end %>
    </div>
  </div>

  <!--Who we are-->
  <div class="mb-16 mx-5">
    <h2 class="text-3xl font-bold text-center">Who we are</h2>
  </div>

  <div class="grid place-items-center">
    <p class="lg:w-3/5 w-4/5 text-center pb-10">
      My name is Tim.  I am a web developer from St. Louis.  I started programming when I was a teenager and taught myself how to code. Over the past year I've sharpened my skills to create websites and software the right way.
    </p>
  </div>

  <div class="px-10 pb-10 grid place-items-center">
    <%= image_tag 'profilepic2.jpg' , class: "w-72 rounded-full border-8" %>
    <h4 class="text-xl font-bold pt-5">Tim Jedrek</h4>
    <div>Founder | Developer</div>
  </div>

  <!--Blog Articles-->
  <div class="mt-12 mb-20 mx-5">
    <h2 class="text-3xl font-bold text-center">Blog Articles</h2>
  </div>


  <div class="grid place-items-center lg:flex lg:flex-row lg:justify-evenly">
    <div class="lg:w-2/5 w-4/5 mb-10 py-10 px-3 border-2 rounded-xl drop-shadow-sm">
      <h4 class="text-xl font-semibold">Are Custom Coded Websites Better than WordPress?</h4>
      <p class="py-3">
      Learn how speed and security is affected by how your site is made.
      </p>
      <%= link_to "https://timjedrek.com/pages/are-custom-coded-websites-better-than-wordpress", target: :blank, class:"w-full" do %>
        <div class="py-3 bg-red-800 hover:bg-red-700 text-white rounded-lg text-center text-xs w-1/4">Read More</div>
      <% end %>
    </div>

    <div class="lg:w-2/5 w-4/5 mb-10 py-10 px-3 border-2 rounded-xl drop-shadow-sm">
      <h4 class="text-xl font-semibold">My Story and Why I Started Tim Jedrek</h4>
      <p class="py-3">
      I talk about the journey I took to get to where I am today.
      </p>
      <%= link_to "https://timjedrek.com/pages/my-story-and-why-i-started-tim-jedrek", target: :blank, class:"w-full" do %>
        <div class="py-3 bg-red-800 hover:bg-red-700 text-white rounded-lg text-center text-xs w-1/4">Read More</div>
      <% end %>
    </div>
  </div>

  <!--Prices-->

  
  
</main>