<!--###### NEED TO FIX... the bg color doesnt cover all the way if the text overflows screen-->
<nav class="flex flex-col items-center bg-red-800 lg:flex-auto lg:w-5/12">

  <!--Container for Profile pic-->
  <div class="pt-16 px-10">
    <%= image_tag 'main/profile-pic' , class: "w-72 rounded-full border-8" %>
  </div>

  <!--Container for logo-->
  <div class="pt-10">
    <%= image_tag 'main/logo-timjedrek' , class: "w-min invert grayscale brightness-0" %>
  </div>

  <!--Container for words and stuff-->
  <div class="flex flex-col items-center px-6 pb-10">
    <!--Links-->
    <p class="text-white text-center pt-10">
    Home | Client Websites | Example Sites <br>
    </p>
    <!--Small blurb about us-->
    <p class="text-gray-300 pt-10 text-center italic"> 
    A web development venture assisting small to medium sized businesses grow through website and software solutions.
    </p>
    <!--Social media Icons-->
    <p class="flex flex-row gap-6 pt-10">
    <%= image_tag 'icons/linkedin' , class: "h-10"%>
    <%= image_tag 'icons/github' , class: "h-10"%>
    <!-- Add the following later:
    Youtube
    Upwork
    Fiverr
    Guru
    -->
    </p>
    <!--More Links-->
    <p class="text-white text-center pt-10 hidden lg:block">
      Projects | Articles | Contact
    </p>
    <!--Copyright-->
    <p class="text-white text-center pt-10 hidden lg:block">
      Copyright <%= Date.today.year %> Tim Jedrek LLC
    </p>
  </div>
</nav>