<div id="<%= dom_id page %>">

  <p class="text-4xl font-bold">
    <%= page.title %>
  </p>

  <p class="text-gray-500">
    <%= page.date.strftime("%B %e, %Y") %>
  </p>

  <% if user_signed_in? %>
    <p class="text-gray-500">
      Category: <%= page.category %>
    </p>
    <div class="pb-5 flex flex-row text-gray-500 gap-3">
      <%= link_to "Edit #{page.title}", edit_page_path(page), class: "hover:text-red-800" %> | 
      <%= button_to "Delete #{page.title}", page_path(page), method: :delete, class: "hover:text-red-800" %>
    </div>
  <% end %>

  <p class="my-5">
    <%= page.body %>
  </p>
</div>
