<!DOCTYPE html>
<html>
  <head>
    <title>Tim Jedrek - <%= random_title_text %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
  </head>

  <body class="bg-red-800">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <!--Full Page container-->
    <div class="flex flex-col lg:flex-row">
      <!--First section / left section on desktop (navigation) -->
      <%= render "shared/nav" %>

      <!--'Ze yeild-->
      <%= yield %>

      <!--Footer (mobile only-->
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
